.perfilStudent {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(207, 207, 207);
    overflow: auto;
}

.avatarName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
}

.avatarName img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 8rem;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.infoPerfilStudent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
    width: 100%;
    min-height: 100%;
    height: auto;
}

.infoPerfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 20rem;
    height: auto;
    background: linear-gradient(rgb(30, 27, 27),#1294ff);
}

.qrCodeStudent {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 15rem;
    background-color: #fff;
    margin-top: -25rem;
}
.qrCodeStudent img {
    width: 100%;
    height: 100%;
}
.itensInfoStudent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap !important;
    gap: 4rem;
    width: 90%;
    min-height: 10rem;
    height: auto;
    margin-top: 4rem;
}
.camposInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 25%;
    color: white;
}
.camposInfo div:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: 900;
}
.camposInfo div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: rgb(202, 202, 202);
}
