.agenda {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(207, 207, 207);
}

.agenda::after {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    background-color: #00BFFF;
}

.containerAgenda {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 90%;
    min-height: 20rem;
    height: auto;
    padding: 1rem;
    padding-top: 8%;
}
.AgendaArrowBack {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    color: #fff;
    font-weight: 900;
    margin-bottom: 10rem;
}